*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.container{
  height:100vh;
  width:100vw;
  position:relative;

}

.left{
  width:25%;
  position: relative;
  top:50%;
  left:12%;
  height:auto;
  transition:all 0.5s ease-in-out;
  transform: translate(2%,-40%);
}
.left img{
  width:100%;
}
.left #landing-info p{
  border:1px solid #ddd;
  padding:15px;
  position:relative;
  margin:10px;
  width:100%;
  top:1rem;
  background-color:white;
  box-shadow:2px 1px 1px rgba(0,50,140,0.5);
  font:15px/1.2rem "Roboto Mono";
}
.left navbar{
  width:100%;
  position:absolute;
  top:130px;
  text-align: center;
}
.left li{
  display:inline;
  padding:10px;
  font: 18px/1.2rem "Roboto Mono";
  cursor:pointer;
}
.left a{
  text-decoration: none;
  color:black;
}
.left.shift{
  transform:translate(-100%,-50%);
  width:50%;
}

.right{
  left:45%;
  position:absolute;
  top:0;
  width:auto;
  background-color: rgba(0,0,0,0.03);
  min-height:500px;
  box-shadow:1px 1px 3px rgba(0,0,0,0.3);
  margin:3rem 0;
  padding:2rem;
  font-family: "Roboto Mono";
}
.right h1{
  text-transform: uppercase;
  letter-spacing: 1rem;
  border-bottom:2px solid black;
  margin-bottom:1.5rem;
  padding:10px;
  text-align: center;
}

.img, .img img{
  width:180px;
  height:180px;
  display: inline-block;
  border-radius:100px;
  overflow:hidden;
  position: relative;
}
.img{
  margin:2rem 10px;
}
.hover{
  width:180px;
  height:180px;
  position:absolute;
  z-index: 1;
  transition: .7s all ease-in-out;
  display:flex;
  align-items: center;
  justify-content: center;
}
.overlay{
  width:180px;
  height:180px;
  background-color: #fff;
  position:absolute;
  z-index:1;
  opacity:0.75;
  border-radius:100px;
}
.hover a{
  visibility: hidden;
  opacity:0;
  transition:.7s all linear;
  font:bold 1rem/1 "Raleway";
  color:black;
  letter-spacing: .3em;
  text-decoration: none;

}
.hover:hover a{
  visibility: visible;
  opacity:1;
  z-index:999;
}

ul li{
  list-style-type: circle;
}
