* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background:linear-gradient(to bottom right, #282A34 50%, #8B5974);
  height: 100vh;
  font-family: "Karla", "Archivo", sans-serif;
  position: relative;
}

h1,
h2,
h3,
h4 {
  font-family: "Archivo";
  letter-spacing: 15px;
  text-transform: uppercase;
  color: #FFF;
}

a {
  color: #FFF;
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  color: rgba(255, 255, 255, 95%);
}

svg {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* design for mobile first */

.container {
  margin: 20px;
  font-size: 1rem; /* set parent font size */
  height: 100%;
}

.name-container {
  margin: 40px 0 40px 0;
  text-align: center;
}
  .name {
    font-weight: lighter;
    position: relative;
    display: inline;
    font-size: 2em;
  }

  .name::after {
    content: 'Janet Yu';
    position: absolute;
    left: 0;
    top: 64%;
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
    background: -webkit-linear-gradient(rgba(255, 255, 255, 2%) 30%, #704D81);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.navigation {
  text-align: center;
}

.nav__list-item {
  text-transform: uppercase;
  font-size: 1.3em;
  line-height: 1.7;
  font-family: "Archivo", sans-serif;
  letter-spacing: 1px;
}

.bio {
  margin-bottom: 3em;
  font-size: 1.1em;
}

/* Tablets 600px >= */
@media screen and (min-width: 600px) {
  .container {
    margin: 0 100px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    text-align: left;
  }
  .name-container {
    text-align: left;
  }
  .name {
    font-size: 4em;
  }
  .navigation {
    text-align: left;
  }
  .bio {
    max-width: 550px;
  }
}

/* Big tablet -> common laptops size */
@media screen and (min-width: 1024px) {
  /* html {
    background-size: 50%, 100%;
  } */

  .container {
    text-align: left;
  }

  @keyframes float {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(5px, 10px);
    }
    50% {
      transform: translate(20px, -10px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  svg {
    width: 55%;
  }

  #closer-planet {
    animation: float 6s linear infinite;
    transform: translate(0, 0);
  }
  #faraway-planet {
    animation: float 8s linear infinite;
  }

  .container {
    margin: 80px 150px;
  }

  .name-container {
    text-align: left;
  }

  .name {
    font-size: 5em;
  }

  .bio {
    max-width: 700px;
    font-size: 1.375em;
  }

  .navigation {
    text-align: left;
  }

  .nav__list-item {
    font-size: 1.5em;
  }
  .nav__list-item a {
    position: relative;
  }

  .nav__list-item a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    background-color: #FF9BBF;
    transition: all .5s ease;
  }

  a:hover::after{
    transform: scaleX(1);
  }
}

@media screen and (min-width: 2304px) {
  .container {
    font-size: 1.5rem;
  }
  .bio {
    max-width: 1024px;
  }
}

@media screen and (min-width: 3840px) {
  .container {
    font-size: 3rem;
    max-width: 2360px;
    margin: 200px;
  }
  
  .bio {
    max-width: 2048px;
  }
}
