* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-blue: #303C66;
  --primary-yellow: #FBE7BF;
}

ul {
  list-style: none;
}
a, p {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}

p {
  color: #4D6469;
  line-height: 1.4;
}
body, html {
  font-size: 1em;
}

h1,
h2 {
  color: var(--primary-blue);
  font-family: "Karla", sans-serif;
}
.hide {
  display: none;
}

.main-container {
  display: flex;
  position: relative;
  flex-direction: column;
}

  .container {
    width: 80%;
    margin: 0 auto;
  }

  .left, .right {
    font-family: "Ubuntu";
  }

  .left {
    background-color: var(--primary-yellow);
    border-bottom: 10px solid #2E4080;
    padding: 50px 0;
    text-align: center;
  }

    #mobile-name {
      font-size: 3em;
    }

    .about-desc:first-of-type {
      margin-top: 1em;
    }

    .navigation {
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
      margin-top: 1em;
    }

      .navigation a {
        color: #2E4080;
        position: relative;
      }

      .navigation a::after {
        content: '';
        height: 2px;
        position: absolute;
        width: 100%;
        bottom: -2px;
        left: 0;
        transform: scaleX(0);
        background-color: var(--primary-blue);
        transition: all .5s ease;
      }

      .navigation a:hover::after{
        transform: scaleX(1);
      }

  .right {
    padding: 30px 0;
  }

    #right-name {
      font-size: 4em;
      display: none;
      letter-spacing: 2px;
    }

    #subtitle {
      display: none;
    }

    #hello {
      font-size: 2em;
    }

@media screen and (min-width: 728px) {
  body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #right-name,
  #subtitle {
    display: block;
  }

  #mobile-name {
    display: none;
  }

  #subtitle {
    color: #C9C9C9;
    font-weight: lighter;
    font-style: italic;
    margin-left: .3em;
    font-size: 2em;
    font-family: "Ubuntu", "Karla", sans-serif;
  }

  .container {
    width: 90%;
  }

  .main-container {
    flex-direction: row;
    max-width: 43em;
    min-height: auto;
  }

  .left, .right { /* this apparently messed with my mobile view */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .left {
    min-height: 28.125em;
    flex: .5;
    background: var(--primary-yellow) url('images/web_bg.svg') no-repeat bottom;
  }

    #hello {
      display: none;
    }

    .navigation {
      flex-direction: column;
      text-align: right;
    }
      .navigation li {
        margin: 5px 0;
        font-size: 1.2em;
      }

  .right {
    flex: 1;
  }

  .about-desc:first-of-type {
    margin-top: 0;
  }
}


@media screen and (min-width: 1900px) {
  body {
    font-size: 1.2em;
  }
}
