body{
  height:100%;
  width:100%;
  background-color: #3F3634;
}
navbar ul{
    list-style-type: none;
    margin: 0 auto;
}
navbar li{
  display: inline;
  background-color: #DBDBDB;
}
navbar li a {
    font-family: Courier;
    color: #000;
    text-decoration: none;
    text-align: center;
    padding:10px;
    font-size: 16px;
}
navbar{
  position: absolute;
  margin-left:-154px;
}
navbar a:hover{
  background-color: #000000;
  color: #ffffff;
  transition:0.5s;
  font-weight: bold;
}
h1{
  text-align: center;
  font-family: Courier;
  color:#F0CECE;
}
#about{
  width:30%;
  text-align: center;
  border: 2px solid #F0CECE;
  margin:auto;
  padding: 10px;
  position: relative;
  min-width: 300px;
}
img{ /*research about this*/
  display: block;
  margin:auto;
  width: 200px;
  margin-top:2%;
}
/*resume page */
#resnav{
  margin:0 auto;
  position: absolute;
  margin-left:26%;
  margin-top:-10px;
}
#resnav ul{
    list-style-type: none;
}
#resbody #resnav li{
  display: inline;
  background-color: #DBDBDB;
  padding:0px;
  font-size: 14px;
}
#resnav li a {
    font-family: Courier;
    color: #000;
    text-decoration: none;
    text-align: center;
}
#resnav a:hover{
  background-color: #000000;
  color: #ffffff;
  transition:0.5s;
  font-weight: bold;
}
#resbody li{
  font-family: Source Code Pro;
  color: #F0CECE;
  font-size: 14px;
  padding-left: 10px;

}
#about p{
  color:#F0CECE;
  font-family: Anonymous Pro;
  font-size: 16px;
}
#resbody{
  width:600px;
  margin: auto;
  min-width: 400px;
  border: 2px solid #F0CECE;
  margin-bottom:20px;
  position: relative;
}
#resbody p{
  font-family: Source Code Pro;
  color: #F0CECE;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
}
#resbody h2{
  font-family: Anonymous Pro;
  color: #F0CECE;
  padding-left:20px;
}
#firstline{
  width: 95%;
  margin-top:-10px;
  border-top: 2px solid #F0CECE;
}
#secondline{
  width: 95%;
  margin-top:-4px;
  border-top: 0.5px solid #F0CECE;
}
hr{
  width: 95%;
  margin-top:-4px;
  border-top: 1px solid #F0CECE;

}
