*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.container{
  height:100vh;
  width:100vw;
  position:relative;

}

.left{
  width:26rem;
  position: relative;
  margin:0 auto;
  top:50%;
  height:auto;
  transition:all 0.5s ease-in-out;
  transform: translate(0,-50%);
}
.left img{
  width:100%;
}
.left #landing-info p{
  border:1px solid #ddd;
  padding:15px;
  position:relative;
  margin:10px;
  top:1rem;
  width:100%;
  box-shadow:2px 1px 1px rgba(0,50,140,0.5);
  font:15px/1.2rem "Roboto Mono";
}
.left navbar{
  width:100%;
  position:absolute;
  top:130px;
  text-align: center;
  display:none;
  transition:1s all linear;
}
.left navbar.show{
  display:block;
  animation-name: shownav;
  animation-duration:2s;
}
@keyframes shownav {
  0%{
    opacity:0
  }
  25%{
    opacity:0;
  }
  100%{
    opacity:1;
  }

}
#enter{
  width:10%;
  cursor:pointer;
  position:absolute;
  display:block;
  right:-60px;
  top:4.5rem;
}
.left li{
  display:inline;
  padding:10px;
  font: 18px/1.2rem "Roboto Mono";
}
.left a{
  text-decoration: none;
  color:black;
}
.left.shift{
  transform:translate(-100%,-40%);
  width:25%;
}

.right{
  display:none;
  left:45%;
  position:absolute;
  top:0;
  width:45%;
  background-color: rgba(0,0,0,0.03);
  height:80%;
  box-shadow:1px 1px 3px rgba(0,0,0,0.3);
  margin:3rem 0;
  padding:2rem;
  font-family: "Roboto Mono";

}
.right h1{
  text-transform: uppercase;
  letter-spacing: 1rem;
  border-bottom:2px solid black;
  padding:10px;
  margin-bottom:1.5rem;
  text-align: center;
}
.right h3{
  margin-bottom:0.5rem;
}
.right ul{
  margin:0 0 1rem 2rem;

}
ul li{
  list-style-type: circle;
}
.right.appear{
  display:block;
  animation-name: fadein;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes fadein {
  0%{
    opacity:0;
  }
  25%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}
