*{
  margin: 0;
  box-sizing: border-box;
  padding:0;
}
body{
  background-color:#EBE6E2;
}

.container{
  width:25%;
  min-width:350px;
  max-width:400px;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
/**NAVIGATION**/
header nav{
  padding:5px;
  margin-bottom:5%;
}
nav ul{
  text-align: center;
  min-width: 350px;
}
li{
  display:inline;
  font-family: courier;
  padding:5px;
  margin-left: 10px;
  font-size: 20px;
  background-color: #d6bec6;
  font-weight: bold;
  border-right:3px solid #bfa0a8;
  border-left:3px solid #bfa0a8;
}
a{
  text-decoration: none;
  color:white;
  padding:5px;
}
li:hover{
  border:5px solid white;
  transition: 0.2s;
  padding:6px;
  margin: 0 15  px;
  font-weight: bolder;
}


/* BODY */
.main-body{
  background-color:#fff;
  min-height:470px;
  padding:20px;
  box-shadow: 7px 7px 7px #7f7369;
  border-radius: 10px;
  position: relative;
}

img{
  width:125px;
  margin-top:2%;
  padding:2px;
}
.container h1{
  margin-right:25px;
  margin-top:20px;
  font-family: 'Rokkitt', serif;
  letter-spacing: 0.1em;
  font-size:30px;
  color: #56524e;
  border-bottom:2.5px solid  #56524e;
}
.main-body p{
  margin-top:10px;
  font-size:16px;
  line-height:1.5em;
  font-family: 'IBM Plex Mono', monospace;
}
.profile{
  position:absolute;
  top:10px;
  right:55px;
}
.profile h1{
  margin: 10% auto;
}
.profile p{
  line-height: 0.5em;
  text-align: left;
}
#first{
  margin-top:10px;
  border: 1.4px solid #56524e;
}

#second{
  border:0.5px solid #56524e;
  margin-top:3px;
}
/* RESUME PAGE */
.container_resume{
  width:40%;
  margin:0 auto;
  min-width:400px;
}
#res_nav{
  margin-top:5%;
}
.container_resume h1{
  font-family: 'Rokkitt', serif;
  letter-spacing: 0.1em;
  font-size:30px;
  color: #56524e;
  border-bottom:2.5px solid  #56524e;
}
